{% extends "profesor/base_formpage.html" %}

{% load static %}

{% block title %}
  Editar Grupo
{% endblock %}

{% block navbar-title %}
  Editar Grupo
{% endblock %}

{% block form-button %}
  <a data-bs-toggle="modal" data-bs-target="#delete-item-modal">
      <button class="button-format w-auto" style="float: right; background-color: #dc3545; color: white;" >Eliminar Grupo</button>
  </a>
{% endblock %}

{% block button_content %}
    Editar Grupo
{% endblock %}

{% block scripts %}
<div class="modal" tabindex="-1" id="delete-item-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
              ¿Estás seguro que quieres eliminar este grupo? <br>
              Esta acción no puede revertirse.
          </div>
      </div>
      <div class="modal-footer">
          <a  class="btn btn-secondary mr-1" data-dismiss="modal" href="">Cancelar</a>
          <a class="btn btn-danger" id="redireccion" href="{% url 'AMCE:ProfEliminarGrupo' id_grupo=id_grupo%}">Confirmar</a>
    </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}