{% extends "profesor/base_mainpage.html" %}

{% load static %}

{% block title %}
    Grupo: {{ grupo }}
{% endblock %}

{% block navbar-title %}
    Grupo: {{ grupo }}
{% endblock %}

{% block inner_content %}
    <ul class="nav nav-pills nav-justified" id="tabsGrupo" role="tablist">
        <li class="nav-item me-2 h4" role="presentation">
            <button class="nav-link {% if not redirect %}active{% endif %}" id="temas-tab" data-bs-toggle="tab" data-bs-target="#temas" type="button" role="tab" aria-controls="temas" aria-selected="true">Temas Asignados</button>
        </li>
        <li class="nav-item ms-2 h4" role="presentation">
            <button class="nav-link {% if redirect %}active{% endif %}" id="equipos-tab" data-bs-toggle="tab" data-bs-target="#equipos" type="button" role="tab" aria-controls="equipos" aria-selected="false">Equipos</button>
        </li>
    </ul>
    <div class="tab-content px-4">
        <div class="tab-pane fade {% if not redirect %}show active{% endif %}" id="temas" role="tabpanel" aria-labelledby="temas-tab">
   
            <a class="button-format w-full mt-5"  href="{% url 'AMCE:ProfAsignarTemaGrupo' id_grupo=id_grupo %}" id="asignar_tema">Asignar Tema</a>
            
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content mt-5">
                {% for t in temas %}
                <div class="col mb-4">
                    <a href="{% url 'AMCE:ProfTemaAsignado' id_grupo=id_grupo id_tema=t.id_tema%}">
                        <div class="card h-100" >
                            <!-- Detalles del tema -->
                            <div class="card-body p-4">
                                <div>
                                    <h2 class="m-0 text-center">{{t.nombre_tema}}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade {% if redirect %}show active{% endif %}" id="equipos" role="tabpanel" aria-labelledby="equipos-tab">
            </br>
            </br>
            <a class="button-format w-full"   href="{% url 'AMCE:ProfCrearEquipo' id_grupo=id_grupo %}" id="crear_equipo">Crear Equipo</a>
            </br>
            </br>
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content">
                {% for e in equipos %}
                <div class="col mb-4">
                    <a href="{% url 'AMCE:ProfPaginaEquipo' id_grupo=id_grupo id_equipo=e.id_equipo%}">
                        <div class="card h-100">
                            <div class="card-body p-4">
                                <div>
                                    <h2 class="m-0 text-center">{{ e.nombre_equipo }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}