
{% extends "profesor/base_mainpage.html" %}

{% load static %}


{% block title %}
Progreso: {{ tema }} - {{ equipo }}
{% endblock %}

{% block navbar-title %}
    Progreso: {{ tema }} - {{ equipo }}
{% endblock %}

{% block inner_content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-12">
            <div class="accordion accordion" id="accordionFlushExample">
                <!-- Pregunta inicial -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <!-- Descomentar línea de abajo cuando se implemente la visualización del progreso de todos los pasos -->
                        <!-- <button class="accordion-button {% if paso != 1 %} collapsed {% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> -->
                        <!-- quitar esta línea --> <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            1. Pregunta inicial
                        </button>
                    </h2>
                    <!-- Descomentar línea de abajo cuando se implemente la visualización del progreso de todos los pasos -->
                    <!-- <div id="collapseOne" class="accordion-collapse {% if paso == 1 %} show {% else %} collapse {% endif %}" aria-labelledby="headingOne" data-bs-parent="#accordionFlushExample"> -->
                    <!-- quitar esta línea --><div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if pasos.1 %}
                                <h5 class="mb-3">{{ pasos.1.0.id_pregunta }}</h5>
                                {% if retros.1 %}
                                    <h6 class="mt-3"><strong>Retroalimentación:</strong></h6>
                                    {{ retros.1 }}
                                {% else %}
                                    <a class="button-format w-full mt-3" href="{% url 'AMCE:ProfRetro' id_grupo=id_grupo id_tema=id_tema id_equipo=equipo.id_equipo paso=1 %}" >Dar retroalimentación</a>
                                {% endif %}
                            {% else %}
                                <h5>El equipo no ha completado este paso.</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Preguntas secundarias -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <!-- Descomentar línea de abajo cuando se implemente la visualización del progreso de todos los pasos -->
                        <!-- <button class="accordion-button {% if paso != 2 %} collapsed {% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> -->
                        <!-- quitar esta línea --><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2. Preguntas secundarias
                        </button>
                    </h2>
                    
                    <!-- Descomentar línea de abajo cuando se implemente la visualización del progreso de todos los pasos -->
                    <!-- <div id="collapseTwo" class="accordion-collapse {% if paso == 2 %} show {% else %} collapse {% endif %}" aria-labelledby="headingTwo" data-bs-parent="#accordionFlushExample"> -->
                    <!-- quitar esta línea --><div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if pasos.1 %}
                                <ul class="mb-3">
                                    {% for s in pasos.2 %}
                                        <li><h5>{{ s.id_pregunta }}</h5></li>
                                    {% endfor %}
                                </ul>
                                {% if retros.2 %}
                                    <h6 class="mt-3"><strong>Retroalimentación:</strong></h6>
                                    {{ retros.2 }}
                                {% else %}
                                    <a class="button-format w-full mt-3" href="{% url 'AMCE:ProfRetro' id_grupo=id_grupo id_tema=id_tema id_equipo=equipo.id_equipo paso=2 %}" >Dar retroalimentación</a>
                                {% endif %}
                            {% else %}
                                <h5>El equipo no ha completado este paso.</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Buscar y evaluar fuentes -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. Buscar y evaluar fuentes
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th>Título</th>
                                    <th>Autor</th>
                                    <th>Fecha de publicación</th>
                                    <th>Lugar de publicación</th>
                                    <th>Tipo</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td><a target=”_blank” href="https://www.uv.es/~bellochc/pdf/pwtic1.pdf">
                                            Las Tecnologías de la información y comunicación (T.I.C)
                                            <span class="material-symbols-outlined">
                                                open_in_new
                                            </span>
                                        </a></td>
                                    <td>Consuelo Belloch Ortí</td>
                                    <td>s.f.</td>
                                    <td>España</td>
                                    <td>Sitio Web</td>
                                  </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                      <td><a target=”_blank” href="https://repositorio.uchile.cl/bitstream/handle/2250/120281/Calandra_Pedro_Conociendo_los_TIC.pdf?sequence=1#:~:text=Hace%205.000%20años%2C%20egipcios%20y,la%20era%20de%20las%20TIC.">
                                        Conociendo las TIC
                                              <span class="material-symbols-outlined">
                                                  open_in_new
                                              </span>
                                          </a></td>
                                      <td>Pedro Calandra Bustos y Manuel Araya Arraño</td>
                                      <td>2009</td>
                                      <td>Chile</td>
                                      <td>Libro</td>
                                    </tr>
                                  </tbody>
                            </table>
                            {% if retros.3 %}
                                <h6 class="mt-3"><strong>Retroalimentación:</strong></h6>
                                {{ retros.3 }}
                            {% else %}
                                <a class="button-format w-full mt-3" href="{% url 'AMCE:ProfRetro' id_grupo=id_grupo id_tema=id_tema id_equipo=equipo.id_equipo paso=3 %}" >Dar retroalimentación</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Análisis de la información -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            4. Análisis de la información
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <h5 class="mb-1">¿Qué son las Tics?</h5>
                                    
                                    <b class="ms-2">Fuente:</b>
                                    <p class="ms-3 mb-1">
                                        <i>Las Tecnologías de la información y comunicación (T.I.C)</i>
                                    </p>

                                    <b class="ms-2">Referencia de la fuente:</b>
                                    <p class="ms-3 mb-1">
                                        Pag 3 Párrafo 2
                                    </p>

                                    <b class="ms-2">Respuesta de la fuente:</b>
                                    <p class="ms-3 mb-1">
                                        “En líneas generales podríamos decir que las nuevas tecnologías de la
                                        información y comunicación son las que giran en torno a tres medios básicos: la
                                        informática, la microelectrónica y las telecomunicaciones; pero giran, no sólo de
                                        forma aislada, sino lo que es más significativo de manera interactiva e
                                        interconexionadas, lo que permite conseguir nuevas realidades comunicativas”.
                                        (Cabero, 1998: 198)
                                    </p>

                                    <b class="ms-2">Síntesis:</b>
                                    <p class="ms-3 mb-1">
                                        Las nuevas TIC pueden dividirse según el medio en torno al que giran: informática, microelectrónica y telecomunicaciones.
                                        Los tres grupos no son mutuamente exclusivos ya que es común que una tecnología utilice más de un medio.
                                    </p>
                                </div>
                                <div class="list-group-item">
                                    <h5 class="mb-1">¿Cuál es el origen de las Tics?</h5>
                                    
                                    <b class="ms-2">Fuente:</b>
                                    <p class="ms-3 mb-1">
                                        <i>Conociendo las TIC</i>
                                    </p>

                                    <b class="ms-2">Referencia de la fuente:</b>
                                    <p class="ms-3 mb-1">
                                        Pag 3 Párrafo 2
                                    </p>

                                    <b class="ms-2">Respuesta de la fuente:</b>
                                    <p class="ms-3 mb-1">
                                        Hace 5.000 años, egipcios y sumerios comienzan a registrar
                                        información en soportes físicos transportables, los que permiten
                                        establecer una comunicación entre los seres humanos, comenzando de
                                        esta manera la era de las TIC. Estos soportes han evolucionado a
                                        través de la historia del hombre en relación a los avances industriales,
                                        técnicos y científicos, manteniendo la comunicación como hilo
                                        conductor en cada uno de ellos a pesar del cambio de lenguaje. En un
                                        inicio, se contaba con ideogramas y pictogramas, evolucionando con
                                        el tiempo a diferentes alfabetos y lenguajes gráficos
                                    </p>

                                    <b class="ms-2">Síntesis:</b>
                                    <p class="ms-3 mb-1">
                                        Se puede considerar que las TIC surgieron como herramienta para la comunicación hace alrededor de 5 siglos.
                                        Aunque hoy en día relacionemos el término TIC con herramientas digitales, en sus inicios consistían de componentes sencillos como papel o piedras grabadas.
                                    </p>
                                </div>
                            </div>
                            {% if retros.4 %}
                                <h6 class="mt-3"><strong>Retroalimentación:</strong></h6>
                                {{ retros.4 }}
                            {% else %}
                                <a class="button-format w-full mt-3" href="{% url 'AMCE:ProfRetro' id_grupo=id_grupo id_tema=id_tema id_equipo=equipo.id_equipo paso=4 %}" >Dar retroalimentación</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Sintetizar y utilizar la información -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            5. Sintetizar y utilizar la información
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <a target="_blank" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxldGFwYXNkZWRlc2Fycm9sbG90ZWNub2xvZ2ljb3xneDoyMDQ0NjQ0YWNhNjJiNTAy">Enlace al entregable 
                                <span class="material-symbols-outlined">
                                    open_in_new
                                </span>
                            </a>
                            {% if retros.5 %}
                                <h6 class="mt-3"><strong>Retroalimentación:</strong></h6>
                                {{ retros.5 }}
                            {% else %}
                                <a class="button-format w-full mt-3" href="{% url 'AMCE:ProfRetro' id_grupo=id_grupo id_tema=id_tema id_equipo=equipo.id_equipo paso=5 %}" >Dar retroalimentación</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Retroalimentación general del proceso de investigación -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Retroalimentación general del proceso de investigación
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse show" aria-labelledby="headingSix" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if retros.6 %}
                                <h6><strong>Retroalimentación:</strong></h6>
                                {{ retros.6 }}
                            {% else %}
                                <a class="button-format w-full" href="{% url 'AMCE:ProfRetro' id_grupo=id_grupo id_tema=id_tema id_equipo=equipo.id_equipo paso=6 %}" >Dar retroalimentación</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
